html {
    max-width: 100em;
    margin: auto;
}

h1 {
    text-align: center;
}

/* invite modal */

#invite-modal {
    border: 1px solid gray;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
}

#invite-link {
    padding: 5px;
    color: black;
    background-color: #f2f2f2;
    border-radius: 5px;
}

/* main grid */

#game-container {
    display: grid;
    grid-template-areas:
        "board message"
        "board dice";
    grid-template-columns: 2fr 1fr;
}

@media screen and (max-width: 800px) {
    #game-container {
        grid-template-areas:
            "dice"
            "board"
            "message";
        grid-template-columns: 1fr;
    }
}

#game-set {
    grid-area: board;
}

#message-box {
    grid-area: message;
}

#actions {
    grid-area: dice;
}

/* Game set */

#tooltip {
    color: grey;
    font-style: italic;
    text-align: center;
}

#ur-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.tile {
    grid-column-start: auto;

    background-color: #fdedb2;
    margin: 0;
    border: 2px solid #473e37;
}

#you-15 {
    grid-column-start: 6;
    grid-row-start: 3;
}

.tile:empty {
    /* Keep the grid from flattening */
    padding-bottom: calc(100% - 4px);
}

#opponent-14, #you-14 {
    grid-column-start: 7;
}

#opponent-13, #you-13 {
    grid-column-start: 8;
}

.opponent-tile {
    grid-row-start: 1;
}

.shared-tile {
    grid-row-start: 2;
}

.you-tile {
    grid-row-start: 3;
}

.opponent-tile:nth-child(even),
.shared-tile:nth-child(odd),
.you-tile:nth-child(even) {
    background-color: #f7ce7e;
}

.tile.rosette {
    background-color: #cabb84;
    background-image: url(rosette.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.tile.selected {
    background-color: #A45A52;
}

#you-15.selected {
    background-color: limegreen;
    margin: 5px;
}

/* pieces */

.black {
    content: url(black-piece.png);
}

.white {
    content: url(white-piece.png);
}

.tile .piece {
    width: 80%;
    height: 80%;
    margin: 0 0 -4px 0; /* This fixes weird margin but I don't know how */
    padding: 10%;
}

.pool {
    height: 5em;
    margin: 3px;
}

.pool .piece {
    width: 5em;
    height: 5em;
    margin: 0 3px;
}

.piece[data-player=you]:not(.invalid-move) {
    cursor: pointer;
}

.piece[data-player=you].invalid-move {
    cursor: not-allowed;
}

/* message box */

#message-box {
    padding: 0;
    margin: 1em;
}

#messages {
    height: 50vh;
    overflow-y: scroll;
    border: 1px solid darkgrey;
}

#messages p {
    margin: 0;
    padding: 0.25em 5px;
}

#messages p:nth-child(odd) {
    background-color: #d9e7fd;
}

#messages p.recent:last-child {
    background-color: #fdedb2;
}

#comment-box {
    display: flex;
    border: 1px solid darkgrey;
}

#comment {
    flex: 1; /* Fill remaining space */
}

/* dice */

.die {
    width: 10vh;
    margin: 5px;
}

/* misc */

.hidden {
    display: none;
}

.mini-rosette {
    width: 25px;
}

#fork-me {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
}
