body {
    max-width: 80em;
    margin: auto;
}

.ur-board {
    padding: 0;
}

.ur-board tr {
    margin: 0;
    padding: 0;
}

.tile {
    width: 5em;
    height: 5em;
    background-color: #fdedb2;
    margin: 0;
    border: 2px solid #473e37;
}

.ur-board tr:nth-child(odd) td.tile:nth-child(odd),
.ur-board tr:nth-child(even) td.tile:nth-child(even) {
    background-color: #f7ce7e;
}

.tile.rosette {
    background-color: #cabb84 !important;
    background-image: url(rosette.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.tile .piece {
    width: 90%;
    height: 90%;
    padding: 0;
    margin: 0 0 -4px 0; /* This works but I don't know how */
    padding: 5%;

    /* filter: drop-shadow(5px 5px 2px #5A4A3B); */
}

.tile.selected {
    background-color: #A45A52 !important;
}

.black {
    content: url(black-piece.png);
}

.white {
    content: url(white-piece.png);
}

.pool .piece {
    width: 50px;
    height: 50px;
    padding: 3px;
}

.piece[data-player=you]:not(.invalid-move) {
    cursor: pointer;
}

.piece[data-player=you].invalid-move {
    cursor: not-allowed;
}
