body {
    max-width: 80em;
    margin: auto;
}

#ur-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.tile {
    grid-column-start: auto;

    background-color: #fdedb2;
    margin: 0;
    border: 2px solid #473e37;
}

#opponent-14, #you-14 {
    grid-column-start: 7;
}

#opponent-13, #you-13 {
    grid-column-start: 8;
}

.opponent-tile {
    grid-row-start: 1;
}

.shared-tile {
    grid-row-start: 2;
}

.you-tile {
    grid-row-start: 3;
}


.tile:nth-child(even) {
    background-color: #f7ce7e;
}

.tile.rosette {
    background-color: #cabb84;
    background-image: url(rosette.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.tile .piece {
    width: 80%;
    height: 80%;
    padding: 0;
    margin: 0 0 -4px 0; /* This fixes weird margin but I don't know how */
    padding: 10%;
}

.tile.selected {
    background-color: #A45A52;
}

.black {
    content: url(black-piece.png);
}

.white {
    content: url(white-piece.png);
}

.pool .piece {
    width: 5em;
    height: 5em;
    padding: 3px;
}

.piece[data-player=you]:not(.invalid-move) {
    cursor: pointer;
}

.piece[data-player=you].invalid-move {
    cursor: not-allowed;
}
